body{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(IMG-0920.jpg);
    background-size: cover;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 60%;
    background: rgba(243, 242, 242, 0.719);
    border-radius: 15%;
    box-sizing: border-box;
}
img[alt="user"]{
position: absolute;
top: -50px;
left: 118px;
}
h2{
    color: rgb(44, 41, 39);
    text-align: center;
    margin-top: 90px;
}
input[type="text"],[type="password"],[type="email"],[type="tel"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid#0094ff;
    background: none;
    padding: 5px;
    color: rgb(26, 22, 22);
}
input[type="text"]{
    top: 140px;
    left: 50px;
}
[type="password"]{
    top: 210px;
    left: 50px;

}
[type="email"]{
    top: 280px;
    left: 50px;
}
[type="tel"]{
    top: 350px;
    left: 50px;

}
input[value="login"]{
    position: absolute;
    top: 410px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: turquoise;
    border: none;
    outline: none;
    color: rgb(236, 223, 223);
    border-radius: 15px;
    font-size: 20px;
}
input[value="login"]:hover{
    background: white;
    color: turquoise;
}